
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  background: #5caefa;
  background: linear-gradient(90deg,rgba(92, 174, 250, 1) 0%, rgba(15, 7, 176, 1) 100%);
  align-items: center;
  justify-content: center;

}


#intro{
  width: 480px;
  height: 480px;
  margin: auto;
  text-align:center;

  background: #e6ffff;

  border-style: double;
  border-color: black;


}

p{
  
  
    margin: 8px;
	text-align: center;

}



#score-board{
  
  width: 480px;
  height: 40px;
 
 
  background: #339933;
  padding-top:3px;


}

#game-board{
 

  border-style: double;
  border-color: black

}


p {
  font-size: 24px;
  padding: 10px;

}


#startBtn{
  width: 180px;
  height: 120px;
  text-align:center;
  margin: auto;
  font-size: 18px;
  background: #9ae59a;
  border-radius: 12px;
 
}

#startBtn:hover {background-color: #34cb34; color: black}

#resizable-span {
	width: 360px; 
	display: inline-block;
	font-family: Arial, sans-serif;	}


.displays {
  width: 480px;
  height: 480px;
  margin: auto;
  text-align:center;

  background: #e6ffff;

  border-style: double;
  border-color: black;
	
	
}



.memory-game {
  
  width: 480px;
  height: 480px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 900px;
  border-style: solid;
  border-width: thick;
  border-color: #9ae59a;
  background: #9ae59a;



}

.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  padding: 2px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 2px;
  position: absolute;
  border-radius: 5px;
  background: azure;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);

}


 /*================================================================= */

  /* see this as background reading and explanation
	https://developer.mozilla.org/en-US/docs/Web/CSS/CSSOM_view/Viewport_concepts
	https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_media_queries/Using_media_queries*/
	
@media (width <= 62rem) {
    #intro{
  width: 58rem;
  height: 58rem;


}

.displays {
  width: 58rem;
  height: 58rem;

	
	
}

.memory-game {
  width: 58rem;
  height: 58rem;
}

#startBtn {
  width: 38rem;
  height: 16rem;
  font-size: 4rem;
 
}
#resizable-span {
	width: 34rem; 
	display: inline-block;
	font-family: Arial, sans-serif;	

  
	
}

#score-board{
  
  width: 58rem;
  height: 6rem;


}

h1 { font-size:4rem; 
}

h2 { font-size:3rem;
 }
p{ font-size:3rem; }

}
  /*================================================================= */


/*

https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/transform-function/scale#:~:text=The%20scale()%20CSS%20function,vertical%20dimensions%20at%20different%20scales.

@media (width <= 62rem){
	body{transform: scale(2.5);}
}
*/



















